<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dairy App</title>
  </head>
  <body>
    <h1>Edit Dairy Page</h1>
    <form action="/dairy/<%= id %>/?_method=PUT" method="post">
      <label for="name">Name</label>
      <input type="text" name="name" id="name" />

      <label for="type">Type</label>
      <input type="text" name="type" id="type" />

      <label for="texture">Texture</label>
      <input type="text" name="texture" id="texture" />

      <label for="flavor">Flavor</label>
      <input type="text" name="flavor" id="flavor" />

      <label for="color">Color</label>
      <input type="text" name="color" id="color" />

      <label for="seasonality">Seasonality</label>
      <input type="text" name="seasonality" id="seasonality" />

      <input type="submit" value="Edit Dairy" />
    </form>
  </body>
</html>
