<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Seafood App</title>
  </head>
  <body>
    <h1>Are you sure you want to Delete Seafood?</h1>
    <form action="/seafood/<%= id %>/?_method=Delete" method="post">
      <input type="submit" value="Yes, Delete <%= seafood.name %>" />
    </form>
    <button><a href="/seafood/<%= id %>">No</a></button>
  </body>
</html>
