@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Playfair Display', sans-serif;
}
:root {
  --bg-color: #a79277;
  --second-bg-color: #d1bb9e;
  /* #d1bb9e; */
  --text-color: #ead8c0;
  --main-color: #fff2e1;
  /* #fff2e1; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 62.5%; */
  overflow-x: hidden;
}
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}
header {
  background-color: #f8f9fa;
  padding: 20px;
  text-align: center;
}

.header nav {
  font-size: 62.5%;
}
h1 {
  color: #333;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 600;
  cursor: default;
  transition: 0.5s ease;
}

.logo:hover {
  color: var(--main-color);
}

.navbar a {
  font-size: 1.7rem;
  color: var(--text-color);
  margin-left: 4rem;
  transition: 0.3s ease;
}

.navbar a:hover,
.navbar a.active {
  color: var(--main-color);
}

#menu-icon {
  font-size: 3.6rem;
  color: var(--text-color);
  display: none;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}
.section {
  margin-bottom: 40px;
}
