<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fruits App</title>
  </head>
  <body>
    <h1>Edit Fruit Page</h1>
    <form action="/fruits/<%= id %>/?_method=PUT" method="post">
      <label for="name">Name</label>
      <input type="text" name="name" id="name" value="<%= fruit.name %>" />
      <label for="color">Color</label>
      <input type="text" name="color" id="color" value="<%= fruit.color %>" />
      <label for="readyToEat">Is Ready to Eat</label>
      <input type="checkbox" name="readyToEat" id="readyToEat" <%
      if(fruit.readyToEat === true) { %> checked <% } %> />
      <input type="submit" value="Edit Fruit" />
    </form>
  </body>
</html>
